extends layout

block content
  h1= title
  p
    | Welcome to #{title}.
    | This is a simple REST example with one resource 'users'.
    | Try it out by starting at index: 
    a(href='/users/') users/
    | .
